<!-- <h3>Welcome to Sinatra!</h3>
<form action='/submit' method='POST'>
	<input type='text' name='model[name]' value='Enter Model Name' />
	<input type='submit' value='Submit' />
</form> -->

<h3>Welcome to Sinatra! Thank you for visiting my first Sinatra app!</h3>

<a href="/person/new">*Create a new person*</a>
<a href="/event/new">*Create a new event*</a>
<a href="/registration/new">*Create a new registration*</a>
