<h3>Welcome to Priyanka's TwitterWhack!</h3>
<form action="/results" method="POST">
	Enter First Word:  <input type="text" name="first_search_word" />
  <br><br>
	Enter Second Word:  <input type="text" name="second_search_word" />
	<input type="submit" value="Submit" />
</form>
