<h3>Welcome to Priyanka's TwitterWhack!</h3>
<form action="/results" method="POST">
	<input type="text" name="first_search_word" value="Enter First Word" />
	<input type="text" name="second_search_word" value="Enter Second Word" />
	<input type="submit" value="Submit" />
</form>
