<h1>Thanks for TwitterWhack-ing!!! Here are your results...</h1>
<p><%= "Score: #{@score}" %></p>
<p><%= "Index: #{@index}" %></p>
<p><%= "Tweet Example: #{@example[:text]}" %></p>
<strong><%= @displayText %></strong>
<br><br><br><br><br><br><br><br><br><br><br><br>
<a href="/">Give it another shot. Play TwitterWhack again!</a>
